!!!
%html{:lang => 'ja'}
  %head
    %title
      = current_page.data.title || "practice"

    = stylesheet_link_tag "normalize", "all"
  %body
    = partial 'layouts/header'
    = yield
    = partial 'layouts/footer'

  = javascript_include_tag "all"
